#advanced-image-viewer-extension {
    display: block;
    position: fixed;
    z-index: 10000;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
}

#advanced-image-viewer-controls-holder {
    position: absolute;
    bottom: 10px;
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    z-index: 10001;

    user-select: none;  /* 禁止文本选择 */
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE/Edge */
}

#advanced-image-viewer-img-holder img {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50vw;
    top: calc(50vh - 30px);
    -webkit-user-drag: none;
    cursor: grab;
    max-height: calc(70vh);
    max-width: 70vw;
    /*object-fit: contain;*/

    user-select: none;  /* 禁止文本选择 */
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE/Edge */
}

.control-group {
    background: rgba(255, 255, 255, 0.1);
    padding: 5px;
    border-radius: 5px;
    display: flex;
    gap: 5px;
}

#advanced-image-viewer-controls-holder img {
    width: 20px;
    height: 20px;
}

#advanced-image-viewer-controls-holder button {
    padding: 5px 8px;
    cursor: pointer;
    background: #333;
    color: white;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-radius: 3px;
    font-size: 12px;
}

#advanced-image-viewer-controls-holder button:hover {
    background: #555;
}